<div class="nav-comp-main-div">
    <div style="float: left;">
        <div class="nav-comp-left-div" style="margin-top: 20px;">
            <img mat-card-image src="https://scontent.fbdq1-1.fna.fbcdn.net/v/t1.0-1/p720x720/60690917_2088502748109883_3960291323897970688_n.jpg?_nc_cat=105&_nc_ohc=yi2xzH4yjkQAX-J9fW6&_nc_ht=scontent.fbdq1-1.fna&_nc_tp=6&oh=346e36099ae4cdc07f89d5cf706690ee&oe=5ED83B46" alt="icon_of_BusfreeInnovation" class="nav-comp-top-image">
            <span class="nav-comp-top-title">Donner App</span>
        </div>
    </div>

    <div style="float: right;">
        <button mat-flat-button color="primary" style="margin-top: 30px; margin-right: 10px;" md-button routerLink="/home">Home</button>
        <button mat-flat-button color="primary" style="margin-top: 30px; margin-right: 10px;" md-button routerLink='/report'>Report</button>
        <button mat-flat-button color="primary" style="margin-top: 30px; margin-right: 10px;" md-button routerLink='/chart'>Statistics</button>
    </div>
</div>